[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/root/back-vits
Environment="PYTHONPATH=/root/back-vits"
Environment="DJANGO_SETTINGS_MODULE=server.settings.environments.base"
ExecStart=/root/back-vits/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/root/back-vits/server.sock \
    server.wsgi:application

[Install]
WantedBy=multi-user.target